<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Archive of Kings</title>
    <link rel="stylesheet" href="{{url_for('static', filename= '/css/style.css')}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"/>
    <link rel="icon" href="{{url_for('static', filename= '/images/tab-icon.png')}}" />
    <!--<script src="https://kit.fontawesome.com/dcc9503012.js" crossorigin="anonymous"></script>-->
    <link rel="stylesheet" href="{{url_for('static', filename= '/css/font-awesome-4.7.0/css/font-awesome.min.css')}}"/>

  </head>
  <body>
   
    <section class="header">
      <nav>
        <a href="{{url_for('index')}}"><img src="{{url_for('static', filename= '/images/logo3.png')}}" /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            
              {%if current_user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('dashboard')}}">DASHBOARD</a>
          </li>
              {%if current_user.id == 19%}
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('admin')}}">ADMIN</a>
                </li>
              {%endif%}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('logout')}}">LOGOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('add_post')}}">UPLOAD</a>
          </li>
          {%else%}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('add_user')}}">REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">LOGIN</a>
          </li>
          


          {%endif%}

          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>

      <!--<div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="Search the Archive...">
        <a class="search-btn " href="#">
        <i class="fas fa-search"></i>
        </a>
        </div>-->

      <div class="text-box">

        <h1>Community-Based Library</h1>
        <p>
          Upload study materials to help other students learn.<br />You'll be able to have free access for sharing your materials.
        </p>
        
        <a href="{{url_for('posts')}}" class="hero-btn">VISIT ARCHIVE</a>
        
      </div>
    </section>

    <!--- Ranking of Kings -->

    <section class="info">
      <h1>ARCHIVE OF KINGS</h1>
      <p>Our mission is to aid everyone at their studies by providing the resources to study more efficiently.</p>

      <div class="row">
        <div class="info-col">
          <h3>Studio</h3>
          <p>
            The <em>Ranking of Kings</em> anime series is being developed by
            <a
              href="https://www.witstudio.co.jp/"
              style="color: #ecdecc; text-decoration: none"
            >
              <b>Wit Studios</b></a
            >, who have already proven themselves to be masters of adaptations
            with their work on <em>Attack on Titan</em> and
            <em>Vinland Saga</em>. Although this new project will require a more
            child-friendly touch, as those series’ hyperviolence would likely
            feel out of place in this material.
          </p>
        </div>
        <div class="info-col">
          <h3>Licensors</h3>
          <p>
            American distributer
            <a
              href="https://www.funimation.com/"
              style="color: #ecdecc; text-decoration: none"
            >
              <b>Funimation</b>
            </a>
            will be taking responsibility for releasing Ranking of Kings in
            Western markets, something which they have proven themselves very
            capable of in the past. So successful in fact that the internet
            already appears ready to anoint the series as the latest heir to the
            anime throne.
          </p>
        </div>
        <div class="info-col">
          <h3>Directors</h3>
          <p>
            The series is being directed by <b>Yosuke Hatta</b>
            <em>(One Punch Man)</em>, with character design by
            <b>Atsuko Nozaki</b> <em>(Attack on Titan)</em>, and music by
            <b>MAYUKO</b> <em>(Cells at Work!)</em>. It’s an all-star team that
            should mean Bojji’s quest for respect is bound for success.
          </p>
        </div>
      </div>
    </section>


    <!--- Characters -->

    <section class="characters">
      <h1>Primary Characters</h1>
      <p>
        Primary characters are the big ones: the hero/protagonist, the
        villain/antagonist, the main viewpoint character.<br />These are the
        characters the reader identifies as the ones the story is about.
      </p>

      <div class="row">
        <div class="characters-col">
          <img src="{{url_for('static', filename= 'images/Bojji.png')}}" />
          <h3>Bojji</h3>
          <p>
            The main protagonist of the story and the first prince of the
            Kingdom of Bosse. Born deaf and tiny in size, he was ridiculed and
            scorned openly by many within the palace and kingdom. Despite his
            disability, Bojji dreams of becoming a strong king like his father
            and always tries to maintain a smile in front of others. He is known
            for his kindness, which has earned him many unexpected allies,
            diligence, and intuition, which allows him to read lips and know
            what people are saying. He also possesses extreme agility and
            dodging ability unconventional for kings that tend to rely on
            strength, and impervious to poison. Following Daida's coronation, he
            and Kage set off on a journey.
          </p>
        </div>
        <div class="characters-col">
          <img src="{{url_for('static', filename= 'images/Kage.png')}}" />
          <h3>Kage</h3>
          <p>
            A last surviving member of the shadow clan and Bojji's companion.
            Born to a clan of assassins, Kage was a young child when he
            witnessed his entire family murdered by the kingdom they served. He
            subsequently escaped and was exploited by a thug, who eventually
            sold him out for his ransom. Tempered by the rough way of the world,
            Kage then grew up using his clan's abilities to make a living off
            thieving. He eventually meets Bojji and is touched by his kindness
            and his situation, pledging to be his faithful friend. He is tasked
            by Bebin to follow and protect Bojji on their journey.
          </p>
        </div>
        <div class="characters-col">
          <img src="{{url_for('static', filename= 'images/Daida.png')}}" />
          <h3>Daida</h3>
          <p>
            Bojji's younger half-brother, the birth son of Queen Hiling and the
            current king. Like Bojji he is hardworking and resilient, but
            possesses a streak of pride and arrogance in his strength that seems
            to take after their father. Deep down, he is secretly jealous of his
            brother, whom he believes was able to get everyone's love and the
            position of king without any effort. In the time leading up to his
            coronation, Daida is manipulated by a Magic Mirror and is forcibly
            made the vessel for Bosse's reincarnation.
          </p>
        </div>
      </div>
    </section>

    <!--- supporting characters -->

    <section class="supporting-characters">
      <h1>Supporting Characters</h1>
      <p>
        A supporting character is a character that is not the focus of the
        primary storyline, but appears or is mentioned in the story enough<br />
        to be more than just a minor character. Sometimes, supporting characters
        may develop a complex backstory of their own,<br />
        but this is usually in relation to the main character, rather than
        entirely independently.
      </p>

      <div class="row">
        <div class="supporting-characters-col">
          <img src="{{url_for('static', filename= 'images/Hiling.jpg')}}" />
          <div class="layer">
            <h3>QUEEN HILING</h3>
          </div>
        </div>
        <div class="supporting-characters-col">
          <img src="{{url_for('static', filename= 'images/Bosse.jpg')}}" />
          <div class="layer">
            <h3>KING BOSSE</h3>
          </div>
        </div>
        <div class="supporting-characters-col">
          <img src="{{url_for('static', filename= 'images/magic mirror.jpg')}}" />
          <div class="layer">
            <h3>MAGIC MIRROR<br />/MIRANJO</h3>
          </div>
        </div>
      </div>
    </section>

    <!--- Reviews -->

    <section class="reviews">
      <h1>What the Viewers Think</h1>
      <p>
        Reviews and ratings are reliable to generally show if an anime is more
        well or less well received by the viewers.
      </p>

      <div class="row">
        <div class="reviews-col">
          <img src="{{url_for('static', filename= 'images/user1.jpg')}}" />
          <div>
            <p>
              Perfection is and will always be subjective; but to me, the
              beginning of Ranking of Kings is pure perfection. That’s the
              reason I’ve written my first preliminary review, just to tell you
              guys and to remember how amazing my first experience with Ousama
              Ranking was. Please note that my score may change in the future,
              but I am reviewing episodes 1 to 6 – and it’s a solid 5/5.
            </p>
            <h3>Arvanitis</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
        </div>
        <div class="reviews-col">
          <img src="{{url_for('static', filename= 'images/user2.jpg')}}" />
          <div>
            <p>
              This anime is really good I can recommend it to everyone without
              hesitation, if it is able to have a firm grasp on its story and
              characters like it has so far, I can assure you it has the
              potential to be one of the greatest anime series to come out in
              all time and surely the rating so far reflects that.
            </p>
            <h3>SpRayquaza11</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
          </div>
        </div>
      </div>
    </section>

    <!--- Call to Action -->

    <section class="cta">
      <h1>Ask me some questions<br />Anything I can help you with</h1>
      <a href="contact.html" class="hero-btn">CONTACT ME</a>
    </section>

    <!--- Footer -->
    <section class="footer">
      <h4>-DISCLAIMER-</h4>
      <p>
        Submitted in Partial Fulfillment Of the Requirements for the Course
        Introduction to Computing.<br />
        This website is only made for the sole purpose of requirement
        submission.
      </p>
      <div class="icons">
        <a target="_blank" href="https://www.facebook.com/geo.moonlight.16">
          <i class="fa fa-facebook"></i
        ></a>
        <a target="_blank" href="https://twitter.com/GeorlyBibas">
          <i class="fa fa-twitter"></i
        ></a>
        <a target="_blank" href="https://www.instagram.com/jiov21/">
          <i class="fa fa-instagram"></i
        ></a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/georly-bibas-039970228/"
          ><i class="fa fa-linkedin"></i
        ></a>
      </div>
      <p>Made with <i class="fa fa-heart-o"></i> by Geo Cuadro Bibas</p>
    </section>
  

    <!---JavaScript for Toggle Menu-->
    <script>
      var navLinks = document.getElementById("navLinks");
      function showMenu() {
        navLinks.style.right = "0";
      }
      function hideMenu() {
        navLinks.style.right = "-200px";
      }
    </script>
  </body>
</html>
