<!---
      <nav>
         <ul>
            <li class="logo"> <a href="{{url_for('index')}}"> ARCHIVE of KINGS</a></li>
            <li class="btn"><span class="fas fa-bars"></span></li>
            <div class="items">
               <li><a href="{{url_for('user', name='John')}}">User Profile</a></li>
               <li><a href="{{url_for('name')}}">Name</a></li>
               <li><a href="#">Services</a></li>
               <li><a href="#">Contact</a></li>
            </div>
            <li class="search-icon">
               <input type="search" placeholder="Search">
               <label class="icon">
               <span class="fas fa-search"></span>
               </label>
            </li>
         </ul>
      </nav>

      <div class="content">
        
          {% block content %}

          {% endblock %}
        
     </div>
      
      <script>
         $('nav ul li.btn span').click(function(){
           $('nav ul div.items').toggleClass("show");
           $('nav ul li.btn span').toggleClass("show");
         });
      </script>
    -->

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a
      class="navbar-brand text-warning"
      style="font-family: 'Colus'"
      href="{{url_for('index')}}"
      >Archive of Kings</a
    >
    <button
      class="navbar-toggler btn-warning"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        
        {%if current_user.is_authenticated%}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('dashboard')}}">DASHBOARD</a>
        </li>
            {%if current_user.id == 19%}
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('admin')}}">ADMIN</a>
              </li>
            {%endif%}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('logout')}}">LOGOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('add_post')}}">UPLOAD</a>
        </li>
        {%else%}
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('add_user')}}">REGISTER</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('login')}}">LOGIN</a>
        </li>
        


        {%endif%}

        <li class="nav-item">
          <a class="nav-link" href="{{url_for('posts')}}">ARCHIVE</a>
        </li>

      </ul>
      <form method="POST" action="{{url_for('search')}}" class="d-flex">
        {{form.hidden_tag()}}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "searched">
        <button class="btn btn-outline-warning" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
