{% extends 'base.html'%}

{% block content %}


{%for message in get_flashed_messages()%}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  
{%endfor%}

{%if exist%}

    <h1>{{post.title}}</h1>
    <br/>

    
      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    

        <!--<h2>{{post.title}}</h2>-->
        <small><strong><em>Author: {{post.author}}</em></small></strong><br/>
        <small><em>Uploaded By: {{post.poster.name}}</em></small><br/><br/>
        <em><small>Document Type: <strong>{{post.doc_type}}</strong></small><br/>
        <small>File Attachment: <strong>{{post.file_attachment}}</strong></small><br/>
        <small>{{post.date_posted}}</small></em><br/><br/><br/><br/>
        {{post.content|safe}}<br/><br/>

        {%if post.file_attachment%}
        <a href="{{url_for('download', file = post.file_attachment)}}" class="btn btn-success btn-sm">Download Attachment</a>
        <br/><br/>
        {%endif%}

        <div class="card mb-3">
          <div class="row no-gutters">
            <div class="col-md-2">
              {% if post.poster.profile_pic %}
              <img src="{{ url_for('static', filename='images/' + post.poster.profile_pic)}}" width="150" align="left">
              {% else %}
              <img src="{{url_for('static', filename = 'images/default_profile_pic.jpg')}}" width="150" align="left">
              {% endif %}
            </div>
      
            <div class="col-md-10">
              <div class="card-body">
                
                {%if post.poster_id%}
                <h5 class="card-title"><a href="{{url_for('profile', id=post.poster_id)}}" class="link-secondary" style="text-decoration: none" >{{ post.poster.name }}</a>
                </h5>
                <p class="card-text">
                  {% if post.poster.bio %}
                  {{ post.poster.bio }}
                  {% else %}
                  User has no bio yet...
                  {% endif %}
      
                </p>
                {%endif%}
              </div>
            </div>
          </div>
        </div>

        
        
      </div>
{%else%}

<h2>Must Upload First!</h2>
<p>Sorry, You must upload your first study material to access this page.</p>
<br/>

{%endif%}

    <a href="{{url_for('posts')}}" class="btn btn-outline-warning btn-sm">Back to Archive</a>

    {%if post.poster_id == current_user.id or current_user.id == 19%}
        <a href="{{url_for('edit_post', id=post.id)}}" class="btn btn-outline-warning btn-sm">Edit Material</a>
        <a href="{{url_for('delete_post', id=post.id)}}" class="btn btn-outline-danger btn-sm">Delete</a>
    {%endif%}

    <br/><br/><br/><br/>


{% endblock %}