{% extends 'base.html'%}

{% block content %}


{%for message in get_flashed_messages()%}

  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{%endfor%}

    <h1>Profile</h1>
    <br/>

    <div class="card">
        <h4 class="card-header text-light">{{id.name}}</h4>
        <div class="card-body">
          <!--<h5 class="card-title text-secondary">Welcome To Your Dashboard!</h5> -->
          <p class="card-text">
            
       <div class="container">
            <div class="row">  
                <div class="col-8">     
            
            <strong>Name: </strong>{{id.name}}<br/>
            <strong>Username: </strong>{{id.username}}<br/>
            <strong>User Id: </strong>{{id.id}}<br/>
            <strong>Email: </strong>{{id.email}}<br/>
            <strong>Program: </strong>{{id.program}}<br/>
            <strong>Date Joined: </strong>{{id.date_added}}<br/>
            <br/>
            <strong>Bio: </strong>{{id.bio}}
        </p>

          
        </div>
      <div class="col-4">
          {%if id.profile_pic%}
          
          <img src="{{url_for('static', filename = 'images/' + id.profile_pic)}}" width=175 align="right">
  
          {%else%}

          <img src="{{url_for('static', filename = 'images/default_profile_pic.jpg')}}" width=175 align="right">
          
          {%endif%}
      </div>
      </div>
  </div>

    </div>
    </div>

    <br/><br/>


    <h2><em>Shared Materials:</em></h2><br/>

    {%for post in posts [::-1] if post.poster_id == id.id%}
    
   
    

      <div class="shadow p-3 mb-5 bg-body-tertiary rounded">

      <h2><a href="{{url_for('post', id=post.id)}}" class="link-light" style="text-decoration: none" >{{post.title}}</a></h2>
      <small><strong>Author: {{post.author}}</strong></small><br/>
      <small><em>Uploaded By: {{post.poster.name}}</em></small><br/>
      {{post.date_posted}}
      
      <!-- <br/><br/> {{post.content|safe}}-->
      <br/><br/>

      <a href="{{url_for('post', id=post.id)}}"  class="btn btn-outline-warning btn-sm">View Material</a>

      {%if post.poster_id == current_user.id or current_user.id == 19%}
          <a href="{{url_for('edit_post', id=post.id)}}" class="btn btn-outline-warning btn-sm">Edit</a>
          <a href="{{url_for('delete_post', id=post.id)}}" class="btn btn-outline-danger btn-sm">Delete</a>
      {%endif%}





    
    <br/>
    
  </div>
    

{%endfor%}


    
{% endblock %}